<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Single Tour</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,400italic,700%7CLato:400">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-head slider-menu-position">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="90px" data-lg-stick-up-offset="75px" data-auto-height="false" class="rd-navbar rd-navbar-top-panel rd-navbar-default rd-navbar-white rd-navbar-static-fullwidth-transparent" data-lg-auto-height="true" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Top Panel-->
              <div class="rd-navbar-top-panel">
                <div class="left-side">
                  <!-- Contact Info-->
                  <address class="contact-info text-left">
                    <div class="reveal-inline-block"><a href="callto:#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-phone"></span></span><span class="unit-body"><span class="text-gray-darker">1-800-1234-567</span></span></a></div>
                    <div class="reveal-inline-block"><a href="mailto:#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-email-outline"></span></span><span class="unit-body"><span class="text-gray-darker">info@demolink.org</span></span></a></div>
                    <div class="reveal-inline-block"><a href="#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-map-marker"></span></span><span class="unit-body"><span class="text-gray-darker">2130 Fulton Street San Diego, CA 94117-1080 USA</span></span></a></div>
                  </address>
                </div>
                <div class="right-side">
                  <ul class="list-inline list-inline-2">
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-facebook"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-twitter"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-google-plus"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-instagram"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-rss"></a></li>
                  </ul>
                </div>
              </div>
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!-- RD Navbar Top Panel Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
                <!-- Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img width='97' height='57' src='images/logo-light.png' alt=''/></a></div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <!-- Navbar Brand Mobile-->
                    <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='97' height='57' src='images/logo-light.png' alt=''/></a></div>
                    <div class="form-search-wrap">
                      <!-- RD Search Form-->
                      <form action="search-results.html" method="GET" class="form-search rd-search">
                        <div class="form-group">
                          <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm rd-input-label">Search</label>
                          <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm"/>
                        </div>
                        <button type="submit" class="form-search-submit"><span class="fa fa-search"></span></button>
                      </form>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="our-history.html">About</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="our-history.html">Our History</a></li>
                          <li><a href="our-team.html">Our Team</a></li>
                          <li><a href="testimonials.html">Testimonials</a></li>
                          <li><a href="faq.html">FAQ Page</a></li>
                          <li><a href="press.html">Press</a></li>
                        </ul>
                      </li>
                      <li class="active rd-navbar--has-dropdown rd-navbar-submenu"><a href="destinations.html">Destinations</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="destinations.html">All Destinations</a></li>
                          <li><a href="single-tour.html">Single Tour</a></li>
                          <li><a href="ticket-catalog.html">Ticket Catalog</a></li>
                          <li><a href="single-ticket.html">Single Ticket</a></li>
                        </ul>
                      </li>
                      <li><a href="deals.html">Deals</a></li>
                      <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="blog-classic.html">News</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-classic.html">Classic Blog</a></li>
                          <li><a href="blog-grid.html">Grid Blog</a></li>
                          <li><a href="blog-masonry.html">Masonry Blog</a></li>
                          <li><a href="blog-modern.html">Modern Blog</a></li>
                          <li><a href="single-post.html">Post Page</a></li>
                        </ul>
                      </li>
                      <li><a href="tracking.html">Tracking</a></li>
                      <li class="rd-navbar--has-megamenu rd-navbar-submenu"><a href="#">Pages</a>
                        <div class="rd-navbar-megamenu">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="veil reveal-md-block">
                                <h6 class="text-bold">Gallery</h6>
                              </div>
                              <ul class="offset-md-top-20">
                                <li><a href="grid-gallery.html">Grid Gallery</a></li>
                                <li><a href="grid-without-padding-gallery.html">Grid Without Padding Gallery</a></li>
                                <li><a href="masonry-gallery.html">Masonry Gallery</a></li>
                                <li><a href="cobbles-gallery.html">Cobbles Gallery</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <div class="veil reveal-md-block">
                                <h6 class="text-bold">Elements</h6>
                              </div>
                              <ul class="offset-md-top-20">
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="tabs-accordions.html">Tabs &amp; Accordions</a></li>
                                <li><a href="progress-bars.html">Progress Bars</a></li>
                                <li><a href="tables.html">Tables</a></li>
                                <li><a href="forms.html">Forms</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="icons.html">Icons</a></li>
                                <li><a href="grid.html">Grid</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <div class="veil reveal-md-block">
                                <h6 class="text-bold">Pages</h6>
                              </div>
                              <ul class="offset-md-top-20">
                                <li><a href="team-member-profile.html">Team Member Profile</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="timetable.html">Timetable</a></li>
                                <li><a href="careers.html">Careers</a></li>
                                <li><a href="sitemap.html">Sitemap</a></li>
                                <li><a href="404.html">404 Page</a></li>
                                <li><a href="503.html">503 Page</a></li>
                                <li><a href="under-construction.html">Under Construction</a></li>
                                <li><a href="login-register.html">Login/Register</a></li>
                                <li><a href="search-results.html">Search Results</a></li>
                                <li><a href="privacy.html">Terms of Use</a></li>
                                <li><a href="single-service.html">Single Service</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <div class="veil reveal-md-block">
                                <h6 class="text-bold">Layouts</h6>
                              </div>
                              <ul class="offset-md-top-20">
                                <li><a href="index-variant-2.html">Home Variant 2</a></li>
                                <li><a href="index-variant-3.html">Home Variant 3</a></li>
                                <li><a href="transparent-header.html">Transparent Header</a></li>
                                <li><a href="corporate-header.html">Corporate Header</a></li>
                                <li><a href="minimal-header.html">Minimal Header</a></li>
                                <li><a href="hamburger-menu-header.html">Hamburger Menu Header</a></li>
                                <li><a href="footer-widget-light.html">Footer Widget Light</a></li>
                                <li><a href="footer-widget-dark.html">Footer Widget Dark</a></li>
                                <li><a href="footer-center-light.html">Footer Center Light</a></li>
                                <li><a href="footer-center-dark.html">Footer Center Dark</a></li>
                                <li><a href="footer-minimal-light.html">Footer Minimal Light</a></li>
                                <li><a href="footer-minimal-dark.html">Footer Minimal Dark</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li><a href="contacts.html">Contacts</a></li>
                    </ul>
                  </div>
                </div>
                <!-- RD Navbar Search-->
                <div class="rd-navbar-search rd-navbar-search-top-panel"><a data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                  <form action="search-results.html" data-search-live="rd-search-results-live" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                    <div class="form-group">
                      <label for="rd-navbar-search-form-input" class="form-label rd-input-label">Type and hit enter...</label>
                      <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                    </div>
                    <div id="rd-search-results-live" class="rd-search-results-live"></div>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!-- Modern Breadcrumbs-->
        <section class="section-height-800 breadcrumb-modern rd-parallax context-dark bg-gray-darkest text-lg-left">
          <div data-speed="0.2" data-type="media" data-url="images/backgrounds/background-01-1920x900.jpg" class="rd-parallax-layer"></div>
          <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="bg-primary-chathams-blue-reverse">
              <div class="shell section-top-57 section-bottom-30 section-md-top-210 section-lg-top-260">
                <div class="veil reveal-md-block">
                  <h1 class="text-bold">New York</h1>
                </div>
                <ul class="list-inline list-inline-icon list-inline-icon-type-1 list-inline-icon-extra-small list-inline-icon-white p offset-top-30 offset-md-top-40 offset-lg-top-125">
                  <li><a href="index.html" class="text-white">Home</a></li>
                  <li><a href="destinations.html" class="text-white">Destinations</a></li>
                  <li>Single Tour
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Contents-->
      <main class="page-content">
        <!-- Press-->
        <section class="section-90 section-md-111 text-left">
          <div class="shell">
            <div class="range range-xs-center">
              <div class="cell-xs-10 cell-sm-6">
                <div class="inset-sm-right-20 inset-lg-righ-50">
                  <h2 class="text-bold text-center text-sm-left">A Few Words <br class="veil reveal-md-inline-block"> About New York</h2>
                  <hr class="divider hr-sm-left-0 bg-chathams-blue">
                  <div class="offset-top-30 offset-md-top-60">
                    <p>A trip to New York City is the experience of a lifetime. With famous attractions like Times Square, Central Park, the Empire State Building and Yankee Stadium—to name just a few—NYC packs more to see and do into one compact area than any other place on earth. Each of the City’s five boroughs contains its own roster of must-see destinations, great restaurants, cultural hot spots and unforgettable activities. Start planning your trip with the guides on this page.</p>
                  </div>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-6 offset-top-69 offset-sm-top-0">
                <div class="rd-google-map-xs">
                  <!-- RD Google Map-->
                  <div class="rd-google-map">
                    <div id="rd-google-map" data-zoom="15" data-x="-74.012609" data-y="40.718078" data-styles='[{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}]' class="rd-google-map__model"></div>
                    <ul class="rd-google-map__locations">
                      <li data-x="-74.010505" data-y="40.717078">
                        <p>9870 St Vincent Place, Glasgow, DC 45 Fr 45</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-60 section-sm-0 bg-zircon">
          <div class="shell list-index-lg">
            <div class="range range-xs-center range-sm-right">
              <div class="cell-xs-10 cell-sm-6 section-image-aside section-image-aside-left text-left">
                <div style="background-image: url(images/pages/single-tour-01-960x575.jpg); background-position: center center;" class="section-image-aside-img veil reveal-sm-block"></div>
                <div class="section-image-aside-body section-sm-top-90 section-sm-bottom-90 section-md-top-100 section-md-bottom-162 inset-left-15 inset-right-15 inset-sm-left-50 inset-lg-left-100">
                  <div class="list-index-counter text-center text-sm-left"></div>
                  <div class="offset-top-15">
                    <h2 class="text-bold text-center text-sm-left">The Statue of Liberty</h2>
                  </div>
                  <hr class="divider hr-sm-left-0 bg-chathams-blue">
                  <div class="offset-top-30 offset-md-top-60">
                    <p>If you’re visiting NYC, you already know that the Statue of Liberty is among the City’s—and America’s—most beloved landmarks. A gift from France to the United States, Lady Liberty was dedicated on October 28, 1886. Ever since, she has been a beacon for immigrants seeking a better life in the United States.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left offset-top-0">
              <div class="cell-xs-10 cell-sm-6 section-image-aside section-image-aside-right text-left">
                <div style="background-image: url(images/pages/single-tour-02-960x575.jpg); background-position: center center;" class="section-image-aside-img veil reveal-sm-block"></div>
                <div class="section-image-aside-body offset-top-69 offset-sm-top-0 section-sm-top-90 section-sm-bottom-90 section-md-top-100 section-md-bottom-162 inset-left-15 inset-right-15 inset-sm-right-30 inset-lg-right-130">
                  <div class="list-index-counter text-center text-sm-left"></div>
                  <div class="offset-top-15">
                    <h2 class="text-bold text-center text-sm-left">Manhattan</h2>
                  </div>
                  <hr class="divider hr-sm-left-0 bg-chathams-blue">
                  <div class="offset-top-30 offset-md-top-60">
                    <p>When people think of New York City, Manhattan is often the first place they picture. It’s no wonder: the borough is home to big-name attractions, such as Central Park, the Empire State Building, St. Patrick’s Cathedral, the High Line and One World Observatory.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="range range-xs-center range-sm-right offset-top-0">
              <div class="cell-xs-10 cell-sm-6 section-image-aside section-image-aside-left text-left">
                <div style="background-image: url(images/pages/single-tour-03-960x575.jpg); background-position: center center;" class="section-image-aside-img veil reveal-sm-block"></div>
                <div class="section-image-aside-body offset-top-69 offset-sm-top-0 section-sm-top-90 section-sm-bottom-90 section-md-top-100 section-md-bottom-111 inset-left-15 inset-right-15 inset-sm-left-50 inset-lg-left-100">
                  <div class="list-index-counter text-center text-sm-left"></div>
                  <div class="offset-top-15">
                    <h2 class="text-bold text-center text-sm-left">Central Park</h2>
                  </div>
                  <hr class="divider hr-sm-left-0 bg-chathams-blue">
                  <div class="offset-top-30 offset-md-top-60">
                    <p>Central Park is an urban oasis. The 843-acre green space features rolling meadows, peaceful bodies of water and stunning vistas, bringing a sense of calm to the otherwise busy City. The range of activities you can take part in  here is nearly unparalleled: hiking, biking, ice-skating etc.</p>
                  </div>
                  <div class="text-center text-sm-left offset-top-10 offset-md-top-20"><a href="deals.html" class="btn btn-ripe-lemon">Buy Ticket Now</a></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Footer Default-->
      <footer class="page-footer bg-chathams-blue">
        <section class="section-60">
          <div class="shell">
            <div class="range range-xs-center text-md-left">
              <div class="cell-xs-10 cell-sm-7 cell-md-4">
                <!-- Footer brand-->
                <div class="footer-brand"><a href="index.html"><img width='97' height='57' src='images/logo-light.png' alt=''/></a></div>
                <div class="offset-top-30 inset-sm-right-20">
                  <p class="text-silver">BusExpress is the leading go-to website for booking inter-city bus ticket online. Our booking system allows travelers to search and book bus tickets for over a hundred bus companies throughout the United States, Mexico, Canada and Europe.</p>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-7 cell-md-4 offset-top-60 offset-md-top-0">
                <div>
                  <h5 class="text-bold text-white">Contacts</h5>
                </div>
                <div class="offset-top-6">
                  <div class="text-subline bg-ripe-lemon"></div>
                </div>
                <div class="offset-top-20">
                  <!-- Contact Info-->
                  <address class="contact-info text-left">
                    <div>
                      <div class="reveal-inline-block"><a href="callto:#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-phone"></span></span><span class="unit-body"><span class="text-silver">1-800-1234-567</span></span></a></div>
                    </div>
                    <div class="offset-top-10">
                      <div class="reveal-inline-block"><a href="mailto:#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-email-outline"></span></span><span class="unit-body"><span class="text-silver">info@demolink.org</span></span></a></div>
                    </div>
                    <div class="offset-top-10">
                      <div class="reveal-inline-block"><a href="#" class="unit unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-map-marker"></span></span><span class="unit-body"><span class="text-silver">2130 Fulton Street San Diego, <br> CA 94117-1080 USA</span></span></a></div>
                    </div>
                  </address>
                </div>
                <div class="offset-top-20">
                  <!-- List Inline-->
                  <ul class="list-inline list-inline-2">
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-facebook"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-twitter"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-google-plus"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-instagram"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-rss"></a></li>
                  </ul>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-7 cell-md-4 offset-top-60 offset-md-top-0">
                <div>
                  <h5 class="text-bold text-white">Newsletter</h5>
                </div>
                <div class="offset-top-6">
                  <div class="text-subline bg-ripe-lemon"></div>
                </div>
                <div class="offset-top-25">
                  <p class="text-silver">Enter your email address to get the latest BusExpress news, special events and student activities delivered right to your inbox.</p>
                </div>
                <div class="offset-top-20">
                        <form data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform rd-mailform-subscribe">
                          <div class="form-group form-group-sm">
                            <div class="input-group">
                              <input placeholder="Your e-mail..." type="email" name="email" data-constraints="@Email @Required" class="form-control"><span class="input-group-btn">
                                <button type="submit" class="btn btn-xs btn-ripe-lemon">Subscribe</button></span>
                            </div>
                          </div>
                          <div id="form-subscribe-footer" class="form-output"></div>
                        </form>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-12 text-md-left">
          <div class="shell">
            <p class="font-accent"><span class="small text-silver-dark">&copy; <span id="copyright-year"></span> All Rights Reserved Terms of Use and <a href="privacy.html">Privacy Policy</a></span></p>
          </div>
        </section>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>