<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Post Page</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,400italic,700%7CLato:400">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-head slider-menu-position">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="90px" data-lg-stick-up-offset="75px" data-auto-height="false" class="rd-navbar rd-navbar-top-panel rd-navbar-default rd-navbar-white rd-navbar-static-fullwidth-transparent" data-lg-auto-height="true" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Top Panel-->
              <div class="rd-navbar-top-panel">
                <div class="left-side">
                  <!-- Contact Info-->
                  <address class="contact-info text-left">
                    <div class="reveal-inline-block"><a href="callto:#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-phone"></span></span><span class="unit-body"><span class="text-gray-darker">1-800-1234-567</span></span></a></div>
                    <div class="reveal-inline-block"><a href="mailto:#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-email-outline"></span></span><span class="unit-body"><span class="text-gray-darker">info@demolink.org</span></span></a></div>
                    <div class="reveal-inline-block"><a href="#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-map-marker"></span></span><span class="unit-body"><span class="text-gray-darker">2130 Fulton Street San Diego, CA 94117-1080 USA</span></span></a></div>
                  </address>
                </div>
                <div class="right-side">
                  <ul class="list-inline list-inline-2">
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-facebook"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-twitter"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-google-plus"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-instagram"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-rss"></a></li>
                  </ul>
                </div>
              </div>
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!-- RD Navbar Top Panel Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
                <!-- Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img width='97' height='57' src='images/logo-light.png' alt=''/></a></div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <!-- Navbar Brand Mobile-->
                    <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='97' height='57' src='images/logo-light.png' alt=''/></a></div>
                    <div class="form-search-wrap">
                      <!-- RD Search Form-->
                      <form action="search-results.html" method="GET" class="form-search rd-search">
                        <div class="form-group">
                          <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm rd-input-label">Search</label>
                          <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm"/>
                        </div>
                        <button type="submit" class="form-search-submit"><span class="fa fa-search"></span></button>
                      </form>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="our-history.html">About</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="our-history.html">Our History</a></li>
                          <li><a href="our-team.html">Our Team</a></li>
                          <li><a href="testimonials.html">Testimonials</a></li>
                          <li><a href="faq.html">FAQ Page</a></li>
                          <li><a href="press.html">Press</a></li>
                        </ul>
                      </li>
                      <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="destinations.html">Destinations</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="destinations.html">All Destinations</a></li>
                          <li><a href="single-tour.html">Single Tour</a></li>
                          <li><a href="ticket-catalog.html">Ticket Catalog</a></li>
                          <li><a href="single-ticket.html">Single Ticket</a></li>
                        </ul>
                      </li>
                      <li><a href="deals.html">Deals</a></li>
                      <li class="active rd-navbar--has-dropdown rd-navbar-submenu"><a href="blog-classic.html">News</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-classic.html">Classic Blog</a></li>
                          <li><a href="blog-grid.html">Grid Blog</a></li>
                          <li><a href="blog-masonry.html">Masonry Blog</a></li>
                          <li><a href="blog-modern.html">Modern Blog</a></li>
                          <li><a href="single-post.html">Post Page</a></li>
                        </ul>
                      </li>
                      <li><a href="tracking.html">Tracking</a></li>
                      <li class="rd-navbar--has-megamenu rd-navbar-submenu"><a href="#">Pages</a>
                        <div class="rd-navbar-megamenu">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="veil reveal-md-block">
                                <h6 class="text-bold">Gallery</h6>
                              </div>
                              <ul class="offset-md-top-20">
                                <li><a href="grid-gallery.html">Grid Gallery</a></li>
                                <li><a href="grid-without-padding-gallery.html">Grid Without Padding Gallery</a></li>
                                <li><a href="masonry-gallery.html">Masonry Gallery</a></li>
                                <li><a href="cobbles-gallery.html">Cobbles Gallery</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <div class="veil reveal-md-block">
                                <h6 class="text-bold">Elements</h6>
                              </div>
                              <ul class="offset-md-top-20">
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="tabs-accordions.html">Tabs &amp; Accordions</a></li>
                                <li><a href="progress-bars.html">Progress Bars</a></li>
                                <li><a href="tables.html">Tables</a></li>
                                <li><a href="forms.html">Forms</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="icons.html">Icons</a></li>
                                <li><a href="grid.html">Grid</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <div class="veil reveal-md-block">
                                <h6 class="text-bold">Pages</h6>
                              </div>
                              <ul class="offset-md-top-20">
                                <li><a href="team-member-profile.html">Team Member Profile</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="timetable.html">Timetable</a></li>
                                <li><a href="careers.html">Careers</a></li>
                                <li><a href="sitemap.html">Sitemap</a></li>
                                <li><a href="404.html">404 Page</a></li>
                                <li><a href="503.html">503 Page</a></li>
                                <li><a href="under-construction.html">Under Construction</a></li>
                                <li><a href="login-register.html">Login/Register</a></li>
                                <li><a href="search-results.html">Search Results</a></li>
                                <li><a href="privacy.html">Terms of Use</a></li>
                                <li><a href="single-service.html">Single Service</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <div class="veil reveal-md-block">
                                <h6 class="text-bold">Layouts</h6>
                              </div>
                              <ul class="offset-md-top-20">
                                <li><a href="index-variant-2.html">Home Variant 2</a></li>
                                <li><a href="index-variant-3.html">Home Variant 3</a></li>
                                <li><a href="transparent-header.html">Transparent Header</a></li>
                                <li><a href="corporate-header.html">Corporate Header</a></li>
                                <li><a href="minimal-header.html">Minimal Header</a></li>
                                <li><a href="hamburger-menu-header.html">Hamburger Menu Header</a></li>
                                <li><a href="footer-widget-light.html">Footer Widget Light</a></li>
                                <li><a href="footer-widget-dark.html">Footer Widget Dark</a></li>
                                <li><a href="footer-center-light.html">Footer Center Light</a></li>
                                <li><a href="footer-center-dark.html">Footer Center Dark</a></li>
                                <li><a href="footer-minimal-light.html">Footer Minimal Light</a></li>
                                <li><a href="footer-minimal-dark.html">Footer Minimal Dark</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li><a href="contacts.html">Contacts</a></li>
                    </ul>
                  </div>
                </div>
                <!-- RD Navbar Search-->
                <div class="rd-navbar-search rd-navbar-search-top-panel"><a data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                  <form action="search-results.html" data-search-live="rd-search-results-live" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                    <div class="form-group">
                      <label for="rd-navbar-search-form-input" class="form-label rd-input-label">Type and hit enter...</label>
                      <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                    </div>
                    <div id="rd-search-results-live" class="rd-search-results-live"></div>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!-- Modern Breadcrumbs-->
        <section class="section-height-800 breadcrumb-modern rd-parallax context-dark bg-gray-darkest text-lg-left">
          <div data-speed="0.2" data-type="media" data-url="images/backgrounds/background-01-1920x900.jpg" class="rd-parallax-layer"></div>
          <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="bg-primary-chathams-blue-reverse">
              <div class="shell section-top-57 section-bottom-30 section-md-top-210 section-lg-top-260">
                <div class="veil reveal-md-block">
                  <h1 class="text-bold">News</h1>
                </div>
                <ul class="list-inline list-inline-icon list-inline-icon-type-1 list-inline-icon-extra-small list-inline-icon-white p offset-top-30 offset-md-top-40 offset-lg-top-125">
                  <li><a href="index.html" class="text-white">Home</a></li>
                  <li><a href="blog-classic.html" class="text-white">News</a></li>
                  <li>Post Page
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Contents-->
      <main class="page-content">
        <!-- Blog Classic-->
        <div id="fb-root"></div>
        <section class="section-90 section-md-111 text-left">
          <div class="shell">
            <div class="range range-xs-center range-lg-right">
              <div class="cell-sm-10 cell-md-8">
                <h2 class="text-bold">Wi-Fi on Buses: How Often Does It Work In the United States?</h2>
                <div class="offset-top-15">
                  <ul class="list list-inline list-inline-dots list-inline-8 list-inline-0 text-gray">
                    <li class="offset-top-0"><span style="position: relative; top: -1px;" class="icon icon-xxs mdi mdi-calendar text-gray text-middle"></span><span class="inset-left-10">2 days ago</span></li>
                    <li><span>by <a href="team-member-profile.html" class="text-orange-peel">Michael Ford</a></span></li>
                  </ul>
                </div>
                <div class="offset-top-25 offset-md-top-40"><img src="images/blog/post-18-770x420.jpg" width="770" height="420" alt="" class="img-responsive center-block"></div>
                <div class="offset-top-30">
                  <p class="text-gray-darker">The main selling point for bus companies is that taking the bus is cheaper than other means of transportation. The bus is still relevant today, but more and more, bus companies are focusing on new advantages to woo customers: modernized buses, more comfortable seats, and onboard Wi-Fi on the bus.</p>
                </div>
                <div class="offset-top-20">
                  <p class="text-gray-darker">However, like many customers, we’ve experienced inconsistency with the onboard Wi-Fi on our trips: sometimes it works perfectly fine, but on other occasions there’s lag. We’ve also had to deal with buses where the advertised Wi-Fi didn’t work at all, which forced us to spend time admiring the scenery.</p>
                </div>
                <div class="offset-top-20"><img src="images/blog/post-08-770x420.jpg" width="770" height="420" alt="" class="img-responsive center-block"></div>
                <div class="offset-top-30">
                  <p class="text-gray-darker">You might not always have an excellent Wi-Fi experience on your bus trips in the US but at least the odds are in your favour that the power outlets can charge up your electronic devices with nearly 75% of our users telling us that the power outlets were properly working.</p>
                </div>
                <div class="offset-top-10">
                  <p class="text-gray-darker">We surveyed thousands of our customers and those who has recently traveled with major bus operators in the United States. They answered a two-question survey that allowed us to understand their perception of Wi-Fi quality provided on the bus trip and as well as the availability of functional power sockets.</p>
                </div>
                <div class="offset-top-30">
                  <div class="pull-sm-left">
                    <div class="tags group group-sm"><a href="#" class="btn-xs btn-tag btn btn-ripe-lemon">Travel</a><a href="#" class="btn-xs btn-tag btn btn-ripe-lemon">USA</a></div>
                  </div>
                  <div class="pull-sm-right inset-sm-right-6">
                    <div class="reveal-inline-block">
                      <p class="text-dark">Share:</p>
                    </div>
                    <ul class="list-inline list-inline-2 reveal-inline-block offset-top-20 offset-sm-top-0 inset-left-15">
                      <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-facebook"></a></li>
                      <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-twitter"></a></li>
                      <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-google-plus"></a></li>
                      <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-instagram"></a></li>
                      <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-rss"></a></li>
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="offset-top-55">
                  <h5 class="text-bold">Posted by</h5>
                </div>
                <div class="offset-top-6">
                  <div class="text-subline"></div>
                </div>
                <div class="offset-top-20">
                  <div class="unit unit-xs unit-xs-horizontal">
                    <div class="unit-left"><img src="images/users/user-michael-ford-120x120.jpg" width="120" height="120" alt="" class="img-responsive center-block"></div>
                    <div class="unit-body text-xs-left">
                      <div class="text-center text-xs-left">
                        <div>
                          <h5 class="text-bold"><a href="team-member-profile.html" class="text-primary">Michael Ford</a></h5>
                        </div>
                        <div class="offset-top-6">
                          <p class="text-gray">Manager</p>
                        </div>
                      </div>
                      <div class="offset-top-20 text-left">
                        <p class="text-gray-darker">I am a professional blogger interested in everything taking place in cyberspace. I am running this website and try my best to make it a better place to visit. I post only the articles that are related to the topic and thoroughly analyze all visitors’ comments to cater to their needs better.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="offset-top-55">
                  <h5 class="text-bold">Recent Posts</h5>
                </div>
                <div class="offset-top-6">
                  <div class="text-subline"></div>
                </div>
                <div class="offset-top-20 text-left">
                  <div class="reveal-inline-block">
                    <!-- Unit-->
                    <div class="unit unit-xs unit-xs-horizontal unit-spacing-19">
                      <div class="unit-left"><img src="images/blog/post-07-270x150.jpg" width="270" height="150" alt="" class="img-responsive"></div>
                      <div class="unit-body offset-top-10 offset-xs-top-0 offset-sm-top-4">
                        <h6 class="text-bold"><a href="single-post.html" class="text-primary">5 Reasons to Take the Bus in the USA</a></h6>
                        <div class="offset-top-10">
                          <ul class="list list-inline list-inline-8 list-inline-0 text-gray">
                            <li><span class="icon icon-xxs mdi mdi-calendar text-gray text-middle"></span><span class="inset-left-10 text-middle">2 days ago</span></li>
                            <li class="offset-top-0"><span>by <a href="team-member-profile.html" class="text-orange-peel">Michael Ford</a></span></li>
                          </ul>
                        </div>
                        <div class="offset-top-20">
                          <div class="tags group group-sm"><a href="#" class="btn-xs btn-tag btn btn-ripe-lemon">Travel</a><a href="#" class="btn-xs btn-tag btn btn-ripe-lemon">USA</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="offset-top-60 offset-sm-top-15">
                  <div class="reveal-inline-block">
                    <!-- Unit-->
                    <div class="unit unit-xs unit-xs-horizontal unit-spacing-19">
                      <div class="unit-left"><img src="images/blog/post-08-270x150.jpg" width="270" height="150" alt="" class="img-responsive"></div>
                      <div class="unit-body offset-top-10 offset-xs-top-0 offset-sm-top-4">
                        <h6 class="text-bold"><a href="single-post.html" class="text-primary">Bus Booking in the USA – 7 Things You Need to Know <br class="veil reveal-lg-inline-block"> Before Booking Your Ticket</a></h6>
                        <div class="offset-top-10">
                          <ul class="list list-inline list-inline-8 list-inline-0 text-gray">
                            <li><span class="icon icon-xxs mdi mdi-calendar text-gray text-middle"></span><span class="inset-left-10 text-middle">2 days ago</span></li>
                            <li class="offset-top-0"><span>by <a href="team-member-profile.html" class="text-orange-peel">Joyce Contreras</a></span></li>
                          </ul>
                        </div>
                        <div class="offset-top-20">
                          <div class="tags group group-sm"><a href="#" class="btn-xs btn-tag btn btn-ripe-lemon">Travel</a><a href="#" class="btn-xs btn-tag btn btn-ripe-lemon">USA</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="offset-top-60 offset-sm-top-15">
                  <div class="reveal-inline-block">
                    <!-- Unit-->
                    <div class="unit unit-xs unit-xs-horizontal unit-spacing-19">
                      <div class="unit-left"><img src="images/blog/post-09-270x150.jpg" width="270" height="150" alt="" class="img-responsive"></div>
                      <div class="unit-body offset-top-10 offset-xs-top-0 offset-sm-top-4">
                        <h6 class="text-bold"><a href="single-post.html" class="text-primary">How To Take Long Bus Trips Like a Pro</a></h6>
                        <div class="offset-top-10">
                          <ul class="list list-inline list-inline-8 list-inline-0 text-gray">
                            <li><span class="icon icon-xxs mdi mdi-calendar text-gray text-middle"></span><span class="inset-left-10 text-middle">2 days ago</span></li>
                            <li class="offset-top-0"><span>by <a href="team-member-profile.html" class="text-orange-peel">Michael Ford</a></span></li>
                          </ul>
                        </div>
                        <div class="offset-top-20">
                          <div class="tags group group-sm"><a href="#" class="btn-xs btn-tag btn btn-ripe-lemon">Travel</a><a href="#" class="btn-xs btn-tag btn btn-ripe-lemon">USA</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="offset-top-55">
                  <h5 class="text-bold">Comments</h5>
                </div>
                <div class="offset-top-6">
                  <div class="text-subline"></div>
                </div>
                <div class="offset-top-20">
                  <!-- Box Comment-->
                  <div class="box-comment text-left">
                    <div class="unit unit-horizontal">
                      <div class="unit-left"><img src="images/users/user-dorothy-santos-70x70.jpg" width="70" height="70" alt="" class="img-responsive center-block"></div>
                      <div class="unit-body">
                        <div>
                          <h6 class="text-bold"><a href="team-member-profile.html" class="text-primary">Dorothy Santos</a></h6>
                        </div>
                        <div class="offset-top-6">
                          <p class="text-gray">2 days ago</p>
                        </div>
                        <div class="offset-top-10">
                          <p class="text-gray-darker">Thank you for such an interesting article! I sincerely hope that the situation with Wi-Fi in American buses will improve to the level of your service.</p>
                        </div>
                        <div class="offset-top-10"><a href="#" class="text-primary"><span style="font-size: 16px;" class="icon text-middle icon icon-xxs fa fa-mail-reply inset-right-10"></span><span class="text-middle">Reply</span></a></div>
                      </div>
                    </div>
                    <div class="inset-left-20 inset-sm-left-50 inset-md-left-100 offset-top-25">
                      <div class="unit unit-horizontal">
                        <div class="unit-left"><img src="images/users/user-michael-ford-70x70.jpg" width="70" height="70" alt="" class="img-responsive center-block"></div>
                        <div class="unit-body">
                          <div>
                            <h6 class="text-bold"><a href="team-member-profile.html" class="text-primary">Michael Ford</a></h6>
                          </div>
                          <div class="offset-top-6">
                            <p class="text-gray">2 days ago</p>
                          </div>
                          <div class="offset-top-10">
                            <p class="text-darker">Thank you for your comment! I’m glad to hear that our Wi-Fi communication services work fine.</p>
                          </div>
                          <div class="offset-top-10"><a href="#" class="text-primary"><span style="font-size: 16px;" class="icon text-middle icon icon-xxs fa fa-mail-reply inset-right-10"></span><span class="text-middle">Reply</span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="offset-top-55">
                  <h5 class="text-bold">Send a Comment</h5>
                </div>
                <div class="offset-top-6">
                  <div class="text-subline"></div>
                </div>
                <div class="offset-top-20">
                  <!-- RD Mailform-->
                  <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left">
                    <div class="range range-xs-center">
                      <div class="cell-sm-6">
                        <div class="form-group form-group-label-outside">
                          <label for="post-first-name" class="form-label form-label-outside text-dark">First name</label>
                          <input id="post-first-name" type="text" name="first-name" data-constraints="@Required" class="form-control">
                        </div>
                        <div class="form-group form-group-label-outside offset-top-20">
                          <label for="post-email" class="form-label form-label-outside text-dark">E-mail</label>
                          <input id="post-email" type="email" name="email" data-constraints="@Email @Required" class="form-control">
                        </div>
                      </div>
                      <div class="cell-sm-6 offset-top-20 offset-sm-top-0">
                        <div class="form-group form-group-label-outside">
                          <label for="post-last-name" class="form-label form-label-outside text-dark">Last name</label>
                          <input id="post-last-name" type="text" name="last-name" data-constraints="@Required" class="form-control">
                        </div>
                        <div class="form-group form-group-label-outside offset-top-20">
                          <label for="post-phone" class="form-label form-label-outside text-dark">Phone</label>
                          <input id="post-phone" type="text" name="last-name" data-constraints="@IsNumeric @Required" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="form-group form-group-label-outside offset-top-20">
                      <label for="post-message" class="form-label form-label-outside text-dark">Message</label>
                      <textarea id="post-message" name="message" data-constraints="@Required" style="max-height: 150px;" class="form-control"></textarea>
                    </div>
                    <div class="offset-top-15 offset-sm-top-30 text-center text-md-left">
                      <button type="submit" class="btn btn-ripe-lemon">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="cell-sm-10 cell-md-4 offset-top-60 offset-md-top-0">
                <div class="inset-md-left-30">
                  <!-- Aside-->
                  <aside class="text-left">
                    <!-- Search in Blog-->
                    <div>
                      <h5 class="text-bold">Search in Blog</h5>
                    </div>
                    <div class="offset-top-6">
                      <div class="text-subline"></div>
                    </div>
                    <div class="offset-top-15 offset-md-top-20 rd-search-blog">
                                        <!-- RD Search Form-->
                                        <form action="search-results.html" method="GET" class="form-search rd-search">
                                          <div class="form-group">
                                            <label for="blog-classic-form-search-widget" class="form-label form-search-label">Search...</label>
                                            <input id="blog-classic-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input form-control null">
                                          </div>
                                          <button type="submit" class="form-search-submit"><span class="fa fa-search"></span></button>
                                        </form>
                    </div>
                    <!-- Archive-->
                    <div class="offset-top-30 offset-md-top-60">
                      <h5 class="text-bold">Archive</h5>
                    </div>
                    <div class="offset-top-6">
                      <div class="text-subline"></div>
                    </div>
                    <div class="offset-top-15 offset-md-top-20">
                      <div class="range range-xs-center">
                        <div class="cell-xs-6">
                          <div class="inset-xs-left-8">
                            <!-- List Marked-->
                            <ul class="list list-marked list-marked-icon text-dark">
                              <li><a href="#" class="text-primary">Jan 2016</a></li>
                              <li><a href="#" class="text-primary">Mar 2016</a></li>
                              <li><a href="#" class="text-primary">May 2016</a></li>
                              <li><a href="#" class="text-primary">Jul 2016</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="cell-xs-6 offset-top-10 offset-xs-top-0 inset-xs-left-8">
                          <!-- List Marked-->
                          <ul class="list list-marked list-marked-icon text-dark">
                            <li><a href="#" class="text-primary">Feb 2016</a></li>
                            <li><a href="#" class="text-primary">Apr 2016</a></li>
                            <li><a href="#" class="text-primary">Jun 2016</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- About-->
                    <div class="offset-top-30 offset-md-top-60">
                      <h5 class="text-bold">About</h5>
                    </div>
                    <div class="offset-top-6">
                      <div class="text-subline"></div>
                    </div>
                    <div class="offset-top-15 offset-md-top-20">
                      <p>BusExpress is the leading go-to website for booking inter-city bus ticket online. Our booking system allows travelers to search and book bus tickets for over a hundred bus companies throughout the United States, Mexico, Canada and Europe.</p>
                    </div>
                    <div class="offset-top-15"><a href="our-history.html" class="text-bold text-chathams-blue">Read More</a></div>
                    <!-- Gallery-->
                    <div class="offset-top-30 offset-md-top-60">
                      <h5 class="text-bold">Gallery</h5>
                    </div>
                    <div class="offset-top-6">
                      <div class="text-subline"></div>
                    </div>
                    <div class="offset-top-15 offset-md-top-20">
                      <div data-photo-swipe-gallery="gallery" class="range range-xs-center section-gallery-lg-column-offset">
                        <div class="cell-xs-4 cell-md-6 inset-lg-left-13 inset-lg-right-13">
                          <div class="inset-left-30 inset-right-30 inset-xs-left-0 inset-xs-right-0">
                                              <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-photo-swipe-item="" data-size="1170x780" href="images/portfolio/gallery-09-1170x780_original.jpg"><span class="figure"><img width="160" height="160" src="images/portfolio/gallery-09-160x160.jpg" alt=""><span class="figcaption"><span class="icon icon-xs fa-search-plus"></span></span></span></a>
                          </div>
                        </div>
                        <div class="cell-xs-4 cell-md-6 inset-lg-left-13 inset-lg-right-13 offset-top-20 offset-xs-top-0">
                          <div class="inset-left-30 inset-right-30 inset-xs-left-0 inset-xs-right-0">
                                              <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-photo-swipe-item="" data-size="850x850" href="images/portfolio/gallery-02-850x850_original.jpg"><span class="figure"><img width="160" height="160" src="images/portfolio/gallery-02-160x160.jpg" alt=""><span class="figcaption"><span class="icon icon-xs fa-search-plus"></span></span></span></a>
                          </div>
                        </div>
                        <div class="cell-xs-4 cell-md-6 inset-lg-left-13 inset-lg-right-13 offset-top-20 offset-xs-top-0 offset-md-top-20">
                          <div class="inset-left-30 inset-right-30 inset-xs-left-0 inset-xs-right-0">
                                              <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-photo-swipe-item="" data-size="1170x777" href="images/portfolio/gallery-04-1170x777_original.jpg"><span class="figure"><img width="160" height="160" src="images/portfolio/gallery-04-160x160.jpg" alt=""><span class="figcaption"><span class="icon icon-xs fa-search-plus"></span></span></span></a>
                          </div>
                        </div>
                        <div class="cell-xs-4 cell-md-6 inset-lg-left-13 inset-lg-right-13 offset-top-20">
                          <div class="inset-left-30 inset-right-30 inset-xs-left-0 inset-xs-right-0">
                                              <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-photo-swipe-item="" data-size="1170x807" href="images/portfolio/gallery-08-1170x807_original.jpg"><span class="figure"><img width="160" height="160" src="images/portfolio/gallery-08-160x160.jpg" alt=""><span class="figcaption"><span class="icon icon-xs fa-search-plus"></span></span></span></a>
                          </div>
                        </div>
                        <div class="cell-xs-4 cell-md-6 inset-lg-left-13 inset-lg-right-13 offset-top-20">
                          <div class="inset-left-30 inset-right-30 inset-xs-left-0 inset-xs-right-0">
                                              <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-photo-swipe-item="" data-size="1170x779" href="images/portfolio/gallery-10-1170x779_original.jpg"><span class="figure"><img width="160" height="160" src="images/portfolio/gallery-10-160x160.jpg" alt=""><span class="figcaption"><span class="icon icon-xs fa-search-plus"></span></span></span></a>
                          </div>
                        </div>
                        <div class="cell-xs-4 cell-md-6 inset-lg-left-13 inset-lg-right-13 offset-top-20">
                          <div class="inset-left-30 inset-right-30 inset-xs-left-0 inset-xs-right-0">
                                              <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-photo-swipe-item="" data-size="1170x780" href="images/portfolio/gallery-11-1170x780_original.jpg"><span class="figure"><img width="160" height="160" src="images/portfolio/gallery-11-160x160.jpg" alt=""><span class="figcaption"><span class="icon icon-xs fa-search-plus"></span></span></span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Categories-->
                    <div class="offset-top-30 offset-md-top-60">
                      <h5 class="text-bold">Categories</h5>
                    </div>
                    <div class="offset-top-6">
                      <div class="text-subline"></div>
                    </div>
                    <div class="offset-top-15 offset-md-top-20">
                      <div class="inset-xs-left-8">
                        <!-- List Marked-->
                        <ul class="list list-marked list-marked-icon text-dark">
                          <li><a href="#" class="text-primary">Travel</a></li>
                          <li><a href="#" class="text-primary">Buses</a></li>
                          <li><a href="#" class="text-primary">USA</a></li>
                          <li><a href="#" class="text-primary">Passengers</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="offset-top-30 offset-md-top-60">
                      <!-- Facebook standart widget-->
                      <div>
                        <div class="fb-root fb-widget">
                          <div class="fb-page-responsive">
                            <div data-href="https://www.facebook.com/TemplateMonster" data-tabs="timeline" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" class="fb-page">
                              <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/TemplateMonster"><a href="https://www.facebook.com/TemplateMonster">TemplateMonster</a></blockquote>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="offset-top-30 offset-md-top-60"><a href="#"><img src="images/pages/banner-01-340x340.jpg" width="340" height="340" alt="" class="img-responsive center-block"></a></div>
                  </aside>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Footer Default-->
      <footer class="page-footer bg-chathams-blue">
        <section class="section-60">
          <div class="shell">
            <div class="range range-xs-center text-md-left">
              <div class="cell-xs-10 cell-sm-7 cell-md-4">
                <!-- Footer brand-->
                <div class="footer-brand"><a href="index.html"><img width='97' height='57' src='images/logo-light.png' alt=''/></a></div>
                <div class="offset-top-30 inset-sm-right-20">
                  <p class="text-silver">BusExpress is the leading go-to website for booking inter-city bus ticket online. Our booking system allows travelers to search and book bus tickets for over a hundred bus companies throughout the United States, Mexico, Canada and Europe.</p>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-7 cell-md-4 offset-top-60 offset-md-top-0">
                <div>
                  <h5 class="text-bold text-white">Contacts</h5>
                </div>
                <div class="offset-top-6">
                  <div class="text-subline bg-ripe-lemon"></div>
                </div>
                <div class="offset-top-20">
                  <!-- Contact Info-->
                  <address class="contact-info text-left">
                    <div>
                      <div class="reveal-inline-block"><a href="callto:#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-phone"></span></span><span class="unit-body"><span class="text-silver">1-800-1234-567</span></span></a></div>
                    </div>
                    <div class="offset-top-10">
                      <div class="reveal-inline-block"><a href="mailto:#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-email-outline"></span></span><span class="unit-body"><span class="text-silver">info@demolink.org</span></span></a></div>
                    </div>
                    <div class="offset-top-10">
                      <div class="reveal-inline-block"><a href="#" class="unit unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-map-marker"></span></span><span class="unit-body"><span class="text-silver">2130 Fulton Street San Diego, <br> CA 94117-1080 USA</span></span></a></div>
                    </div>
                  </address>
                </div>
                <div class="offset-top-20">
                  <!-- List Inline-->
                  <ul class="list-inline list-inline-2">
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-facebook"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-twitter"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-google-plus"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-instagram"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-rss"></a></li>
                  </ul>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-7 cell-md-4 offset-top-60 offset-md-top-0">
                <div>
                  <h5 class="text-bold text-white">Newsletter</h5>
                </div>
                <div class="offset-top-6">
                  <div class="text-subline bg-ripe-lemon"></div>
                </div>
                <div class="offset-top-25">
                  <p class="text-silver">Enter your email address to get the latest BusExpress news, special events and student activities delivered right to your inbox.</p>
                </div>
                <div class="offset-top-20">
                        <form data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform rd-mailform-subscribe">
                          <div class="form-group form-group-sm">
                            <div class="input-group">
                              <input placeholder="Your e-mail..." type="email" name="email" data-constraints="@Email @Required" class="form-control"><span class="input-group-btn">
                                <button type="submit" class="btn btn-xs btn-ripe-lemon">Subscribe</button></span>
                            </div>
                          </div>
                          <div id="form-subscribe-footer" class="form-output"></div>
                        </form>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-12 text-md-left">
          <div class="shell">
            <p class="font-accent"><span class="small text-silver-dark">&copy; <span id="copyright-year"></span> All Rights Reserved Terms of Use and <a href="privacy.html">Privacy Policy</a></span></p>
          </div>
        </section>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>