<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Ticket Catalog</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,400italic,700%7CLato:400">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-head slider-menu-position">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="90px" data-lg-stick-up-offset="75px" data-auto-height="false" class="rd-navbar rd-navbar-top-panel rd-navbar-default rd-navbar-white rd-navbar-static-fullwidth-transparent" data-lg-auto-height="true" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Top Panel-->
              <div class="rd-navbar-top-panel">
                <div class="left-side">
                  <!-- Contact Info-->
                  <address class="contact-info text-left">
                    <div class="reveal-inline-block"><a href="callto:#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-phone"></span></span><span class="unit-body"><span class="text-gray-darker">1-800-1234-567</span></span></a></div>
                    <div class="reveal-inline-block"><a href="mailto:#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-email-outline"></span></span><span class="unit-body"><span class="text-gray-darker">info@demolink.org</span></span></a></div>
                    <div class="reveal-inline-block"><a href="#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-map-marker"></span></span><span class="unit-body"><span class="text-gray-darker">2130 Fulton Street San Diego, CA 94117-1080 USA</span></span></a></div>
                  </address>
                </div>
                <div class="right-side">
                  <ul class="list-inline list-inline-2">
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-facebook"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-twitter"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-google-plus"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-instagram"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-silver-filled icon-circle fa fa-rss"></a></li>
                  </ul>
                </div>
              </div>
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!-- RD Navbar Top Panel Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
                <!-- Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img width='97' height='57' src='images/logo-light.png' alt=''/></a></div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <!-- Navbar Brand Mobile-->
                    <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='97' height='57' src='images/logo-light.png' alt=''/></a></div>
                    <div class="form-search-wrap">
                      <!-- RD Search Form-->
                      <form action="search-results.html" method="GET" class="form-search rd-search">
                        <div class="form-group">
                          <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm rd-input-label">Search</label>
                          <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm"/>
                        </div>
                        <button type="submit" class="form-search-submit"><span class="fa fa-search"></span></button>
                      </form>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="our-history.html">About</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="our-history.html">Our History</a></li>
                          <li><a href="our-team.html">Our Team</a></li>
                          <li><a href="testimonials.html">Testimonials</a></li>
                          <li><a href="faq.html">FAQ Page</a></li>
                          <li><a href="press.html">Press</a></li>
                        </ul>
                      </li>
                      <li class="active rd-navbar--has-dropdown rd-navbar-submenu"><a href="destinations.html">Destinations</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="destinations.html">All Destinations</a></li>
                          <li><a href="single-tour.html">Single Tour</a></li>
                          <li><a href="ticket-catalog.html">Ticket Catalog</a></li>
                          <li><a href="single-ticket.html">Single Ticket</a></li>
                        </ul>
                      </li>
                      <li><a href="deals.html">Deals</a></li>
                      <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="blog-classic.html">News</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-classic.html">Classic Blog</a></li>
                          <li><a href="blog-grid.html">Grid Blog</a></li>
                          <li><a href="blog-masonry.html">Masonry Blog</a></li>
                          <li><a href="blog-modern.html">Modern Blog</a></li>
                          <li><a href="single-post.html">Post Page</a></li>
                        </ul>
                      </li>
                      <li><a href="tracking.html">Tracking</a></li>
                      <li class="rd-navbar--has-megamenu rd-navbar-submenu"><a href="#">Pages</a>
                        <div class="rd-navbar-megamenu">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="veil reveal-md-block">
                                <h6 class="text-bold">Gallery</h6>
                              </div>
                              <ul class="offset-md-top-20">
                                <li><a href="grid-gallery.html">Grid Gallery</a></li>
                                <li><a href="grid-without-padding-gallery.html">Grid Without Padding Gallery</a></li>
                                <li><a href="masonry-gallery.html">Masonry Gallery</a></li>
                                <li><a href="cobbles-gallery.html">Cobbles Gallery</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <div class="veil reveal-md-block">
                                <h6 class="text-bold">Elements</h6>
                              </div>
                              <ul class="offset-md-top-20">
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="tabs-accordions.html">Tabs &amp; Accordions</a></li>
                                <li><a href="progress-bars.html">Progress Bars</a></li>
                                <li><a href="tables.html">Tables</a></li>
                                <li><a href="forms.html">Forms</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="icons.html">Icons</a></li>
                                <li><a href="grid.html">Grid</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <div class="veil reveal-md-block">
                                <h6 class="text-bold">Pages</h6>
                              </div>
                              <ul class="offset-md-top-20">
                                <li><a href="team-member-profile.html">Team Member Profile</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="timetable.html">Timetable</a></li>
                                <li><a href="careers.html">Careers</a></li>
                                <li><a href="sitemap.html">Sitemap</a></li>
                                <li><a href="404.html">404 Page</a></li>
                                <li><a href="503.html">503 Page</a></li>
                                <li><a href="under-construction.html">Under Construction</a></li>
                                <li><a href="login-register.html">Login/Register</a></li>
                                <li><a href="search-results.html">Search Results</a></li>
                                <li><a href="privacy.html">Terms of Use</a></li>
                                <li><a href="single-service.html">Single Service</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <div class="veil reveal-md-block">
                                <h6 class="text-bold">Layouts</h6>
                              </div>
                              <ul class="offset-md-top-20">
                                <li><a href="index-variant-2.html">Home Variant 2</a></li>
                                <li><a href="index-variant-3.html">Home Variant 3</a></li>
                                <li><a href="transparent-header.html">Transparent Header</a></li>
                                <li><a href="corporate-header.html">Corporate Header</a></li>
                                <li><a href="minimal-header.html">Minimal Header</a></li>
                                <li><a href="hamburger-menu-header.html">Hamburger Menu Header</a></li>
                                <li><a href="footer-widget-light.html">Footer Widget Light</a></li>
                                <li><a href="footer-widget-dark.html">Footer Widget Dark</a></li>
                                <li><a href="footer-center-light.html">Footer Center Light</a></li>
                                <li><a href="footer-center-dark.html">Footer Center Dark</a></li>
                                <li><a href="footer-minimal-light.html">Footer Minimal Light</a></li>
                                <li><a href="footer-minimal-dark.html">Footer Minimal Dark</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li><a href="contacts.html">Contacts</a></li>
                    </ul>
                  </div>
                </div>
                <!-- RD Navbar Search-->
                <div class="rd-navbar-search rd-navbar-search-top-panel"><a data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                  <form action="search-results.html" data-search-live="rd-search-results-live" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                    <div class="form-group">
                      <label for="rd-navbar-search-form-input" class="form-label rd-input-label">Type and hit enter...</label>
                      <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                    </div>
                    <div id="rd-search-results-live" class="rd-search-results-live"></div>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!-- Modern Breadcrumbs-->
        <section class="section-height-800 breadcrumb-modern rd-parallax context-dark bg-gray-darkest text-lg-left">
          <div data-speed="0.2" data-type="media" data-url="images/backgrounds/background-01-1920x900.jpg" class="rd-parallax-layer"></div>
          <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="bg-primary-chathams-blue-reverse">
              <div class="shell section-top-57 section-bottom-30 section-md-top-210 section-lg-top-260">
                <div class="veil reveal-md-block">
                  <h1 class="text-bold">Ticket Catalog</h1>
                </div>
                <ul class="list-inline list-inline-icon list-inline-icon-type-1 list-inline-icon-extra-small list-inline-icon-white p offset-top-30 offset-md-top-40 offset-lg-top-125">
                  <li><a href="index.html" class="text-white">Home</a></li>
                  <li><a href="destinations.html" class="text-white">Destinations</a></li>
                  <li>Ticket Catalog
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Contents-->
      <main class="page-content">
        <!-- Ticket Catalog-->
        <section class="section-90 section-md-111 text-left bg-zircon">
          <div class="shell">
            <div class="range range-xs-center">
              <div class="cell-md-8">
                <div class="range range-xs-center">
                  <div class="cell-xs-10 cell-sm-6">
                    <!-- Post Ticket--><a href="single-ticket.html" class="post-ticket">
                      <div class="post-ticket-header"><img src="images/blog/post-01-370x280.jpg" width="370" height="280" alt="" class="img-responsive"/>
                        <div class="post-ticket-price-svg-wrap">
                          <div class="post-ticket-price-svg"><svg viewBox="0 0 140 36"><path d="m 0.01190457,18.011904 0,-17.99999966 70.00000343,0 69.999992,0 0,5.50000006 c 0,4.157048 -0.35675,5.4999996 -1.46104,5.4999996 -2.34992,0 -5.53896,4.138795 -5.53896,7.188561 0,3.025049 3.05738,6.811439 5.5,6.811439 1.15152,0 1.5,1.277778 1.5,5.5 l 0,5.5 -69.999992,0 -70.00000343,0 0,-18 z"/></svg>
                            <div class="post-ticket-price text-bold text-shark"><span>$</span><span>16.00</span><span>/pers.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="post-ticket-body text-left">
                        <!-- List Inline-->
                        <div>
                          <ul class="group-xs list list-inline list-inline-icon list-inline-icon-type-1 list-inline-icon-primary">
                            <li class="h5 text-bold text-primary">Boston</li>
                            <li class="h5 text-bold text-primary">New York</li>
                          </ul>
                        </div>
                        <div class="offset-top-10">
                          <div class="post-meta text-gray">5 hours 10 minutes</div>
                        </div>
                      </div></a>
                  </div>
                  <div class="cell-xs-10 cell-sm-6 offset-top-30 offset-sm-top-0">
                    <!-- Post Ticket--><a href="single-ticket.html" class="post-ticket">
                      <div class="post-ticket-header"><img src="images/blog/post-02-370x280.jpg" width="370" height="280" alt="" class="img-responsive"/>
                        <div class="post-ticket-price-svg-wrap">
                          <div class="post-ticket-price-svg"><svg viewBox="0 0 140 36"><path d="m 0.01190457,18.011904 0,-17.99999966 70.00000343,0 69.999992,0 0,5.50000006 c 0,4.157048 -0.35675,5.4999996 -1.46104,5.4999996 -2.34992,0 -5.53896,4.138795 -5.53896,7.188561 0,3.025049 3.05738,6.811439 5.5,6.811439 1.15152,0 1.5,1.277778 1.5,5.5 l 0,5.5 -69.999992,0 -70.00000343,0 0,-18 z"/></svg>
                            <div class="post-ticket-price text-bold text-shark"><span>$</span><span>19.00</span><span>/pers.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="post-ticket-body text-left">
                        <!-- List Inline-->
                        <div>
                          <ul class="group-xs list list-inline list-inline-icon list-inline-icon-type-1 list-inline-icon-primary">
                            <li class="h5 text-bold text-primary">Washington, D.C.</li>
                            <li class="h5 text-bold text-primary">Boston</li>
                          </ul>
                        </div>
                        <div class="offset-top-10">
                          <div class="post-meta text-gray">8 hours 45 minutes</div>
                        </div>
                      </div></a>
                  </div>
                  <div class="cell-xs-10 cell-sm-6 offset-top-30">
                    <!-- Post Ticket--><a href="single-ticket.html" class="post-ticket">
                      <div class="post-ticket-header"><img src="images/blog/post-03-370x280.jpg" width="370" height="280" alt="" class="img-responsive"/>
                        <div class="post-ticket-price-svg-wrap">
                          <div class="post-ticket-price-svg"><svg viewBox="0 0 140 36"><path d="m 0.01190457,18.011904 0,-17.99999966 70.00000343,0 69.999992,0 0,5.50000006 c 0,4.157048 -0.35675,5.4999996 -1.46104,5.4999996 -2.34992,0 -5.53896,4.138795 -5.53896,7.188561 0,3.025049 3.05738,6.811439 5.5,6.811439 1.15152,0 1.5,1.277778 1.5,5.5 l 0,5.5 -69.999992,0 -70.00000343,0 0,-18 z"/></svg>
                            <div class="post-ticket-price text-bold text-shark"><span>$</span><span>15.00</span><span>/pers.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="post-ticket-body text-left">
                        <!-- List Inline-->
                        <div>
                          <ul class="group-xs list list-inline list-inline-icon list-inline-icon-type-1 list-inline-icon-primary">
                            <li class="h5 text-bold text-primary">Sacramento</li>
                            <li class="h5 text-bold text-primary">San Diego</li>
                          </ul>
                        </div>
                        <div class="offset-top-10">
                          <div class="post-meta text-gray">6 hours 21 minutes</div>
                        </div>
                      </div></a>
                  </div>
                  <div class="cell-xs-10 cell-sm-6 offset-top-30">
                    <!-- Post Ticket--><a href="single-ticket.html" class="post-ticket">
                      <div class="post-ticket-header"><img src="images/blog/post-04-370x280.jpg" width="370" height="280" alt="" class="img-responsive"/>
                        <div class="post-ticket-price-svg-wrap">
                          <div class="post-ticket-price-svg"><svg viewBox="0 0 140 36"><path d="m 0.01190457,18.011904 0,-17.99999966 70.00000343,0 69.999992,0 0,5.50000006 c 0,4.157048 -0.35675,5.4999996 -1.46104,5.4999996 -2.34992,0 -5.53896,4.138795 -5.53896,7.188561 0,3.025049 3.05738,6.811439 5.5,6.811439 1.15152,0 1.5,1.277778 1.5,5.5 l 0,5.5 -69.999992,0 -70.00000343,0 0,-18 z"/></svg>
                            <div class="post-ticket-price text-bold text-shark"><span>$</span><span>42.00</span><span>/pers.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="post-ticket-body text-left">
                        <!-- List Inline-->
                        <div>
                          <ul class="group-xs list list-inline list-inline-icon list-inline-icon-type-1 list-inline-icon-primary">
                            <li class="h5 text-bold text-primary">Colorado Springs</li>
                            <li class="h5 text-bold text-primary">Huntington Beach</li>
                          </ul>
                        </div>
                        <div class="offset-top-10">
                          <div class="post-meta text-gray">8 hours 45 minutes</div>
                        </div>
                      </div></a>
                  </div>
                  <div class="cell-xs-10 cell-sm-6 offset-top-30">
                    <!-- Post Ticket--><a href="single-ticket.html" class="post-ticket">
                      <div class="post-ticket-header"><img src="images/blog/post-05-370x280.jpg" width="370" height="280" alt="" class="img-responsive"/>
                        <div class="post-ticket-price-svg-wrap">
                          <div class="post-ticket-price-svg"><svg viewBox="0 0 140 36"><path d="m 0.01190457,18.011904 0,-17.99999966 70.00000343,0 69.999992,0 0,5.50000006 c 0,4.157048 -0.35675,5.4999996 -1.46104,5.4999996 -2.34992,0 -5.53896,4.138795 -5.53896,7.188561 0,3.025049 3.05738,6.811439 5.5,6.811439 1.15152,0 1.5,1.277778 1.5,5.5 l 0,5.5 -69.999992,0 -70.00000343,0 0,-18 z"/></svg>
                            <div class="post-ticket-price text-bold text-shark"><span>$</span><span>19.00</span><span>/pers.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="post-ticket-body text-left">
                        <!-- List Inline-->
                        <div>
                          <ul class="group-xs list list-inline list-inline-icon list-inline-icon-type-1 list-inline-icon-primary">
                            <li class="h5 text-bold text-primary">Sacramento</li>
                            <li class="h5 text-bold text-primary">San Francisco</li>
                          </ul>
                        </div>
                        <div class="offset-top-10">
                          <div class="post-meta text-gray">5 hours 45 minutes</div>
                        </div>
                      </div></a>
                  </div>
                  <div class="cell-xs-10 cell-sm-6 offset-top-30">
                    <!-- Post Ticket--><a href="single-ticket.html" class="post-ticket">
                      <div class="post-ticket-header"><img src="images/blog/post-06-370x280.jpg" width="370" height="280" alt="" class="img-responsive"/>
                        <div class="post-ticket-price-svg-wrap">
                          <div class="post-ticket-price-svg"><svg viewBox="0 0 140 36"><path d="m 0.01190457,18.011904 0,-17.99999966 70.00000343,0 69.999992,0 0,5.50000006 c 0,4.157048 -0.35675,5.4999996 -1.46104,5.4999996 -2.34992,0 -5.53896,4.138795 -5.53896,7.188561 0,3.025049 3.05738,6.811439 5.5,6.811439 1.15152,0 1.5,1.277778 1.5,5.5 l 0,5.5 -69.999992,0 -70.00000343,0 0,-18 z"/></svg>
                            <div class="post-ticket-price text-bold text-shark"><span>$</span><span>15.00</span><span>/pers.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="post-ticket-body text-left">
                        <!-- List Inline-->
                        <div>
                          <ul class="group-xs list list-inline list-inline-icon list-inline-icon-type-1 list-inline-icon-primary">
                            <li class="h5 text-bold text-primary">New York</li>
                            <li class="h5 text-bold text-primary">Chicago</li>
                          </ul>
                        </div>
                        <div class="offset-top-10">
                          <div class="post-meta text-gray">8 hours 45 minutes</div>
                        </div>
                      </div></a>
                  </div>
                </div>
                <div class="text-center text-md-left offset-top-60">
                  <!-- Classic Pagination-->
                  <nav>
                    <ul class="pagination-classic">
                      <li><a href="#" class="icon icon-xxs icon-primary fa fa-chevron-left"></a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#" class="icon icon-xxs icon-primary fa fa-chevron-right"></a></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="cell-md-4 offset-top-60 offset-md-top-0">
                <div class="inset-md-left-30">
                  <!-- Panel-->
                  <div class="panel panel-xl panel-vertical panel-sm-resize panel-md-resize section-bottom-40 bg-chathams-blue context-dark text-lg-left">
                    <h5 class="text-bold"><span class="big"><span class="big"><span class="big">Find Bus Tickets</span></span></span></h5>
                    <form class="offset-top-25">
                      <div class="group group-top">
                        <div class="group-item element-fullwidth">
                          <div class="form-group text-left">
                            <label for="traveling-from" class="form-label form-label-outside">Traveling From</label>
                            <div class="select2-whitout-border shadow-drop-md">
                              <select id="traveling-from" name="traveling-from" data-minimum-results-for-search="Infinity" class="form-control">
                                <option value="1">New York</option>
                                <option value="2">Lisbon</option>
                                <option value="3">Paris</option>
                                <option value="4">Berlin</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="group-item element-fullwidth offset-top-6 offset-xs-top-0 offset-lg-top-6">
                          <div class="form-group text-left">
                            <label for="traveling-to" class="form-label form-label-outside">Traveling To</label>
                            <div class="select2-whitout-border shadow-drop-md">
                              <select id="traveling-to" name="traveling-to" data-minimum-results-for-search="Infinity" class="form-control">
                                <option value="1">Chicago</option>
                                <option value="2">Italy</option>
                                <option value="3">Liverpool</option>
                                <option value="4">Praha</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="group-item element-fullwidth element-fullwidth-xs offset-top-6 offset-md-top-0 offset-lg-top-6">
                          <div class="form-group text-left">
                            <label for="depart-date" class="form-label form-label-outside">Depart Date</label>
                            <div class="select2-whitout-border shadow-drop-md">
                              <select id="depart-date" name="depart-date" data-minimum-results-for-search="Infinity" class="form-control">
                                <option value="1">7-11-2016</option>
                                <option value="2">8-11-2016</option>
                                <option value="3">9-11-2016</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="group-item element-fullwidth element-fullwidth-xs offset-top-6 offset-md-top-0 offset-lg-top-6">
                          <div class="form-group text-left">
                            <label for="ticket-type" class="form-label form-label-outside">Ticket Type</label>
                            <div class="select2-whitout-border shadow-drop-md">
                              <select id="ticket-type" name="ticket-type" data-minimum-results-for-search="Infinity" class="form-control">
                                <option value="1">One way</option>
                                <option value="2">Round-trip</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="group-item element-fullwidth element-fullwidth-xs offset-top-6 offset-md-top-0 offset-lg-top-6">
                          <div class="form-group text-left">
                            <label for="passengers" class="form-label form-label-outside">Passengers</label>
                            <div class="select2-whitout-border shadow-drop-md">
                              <select id="passengers" name="passengers" data-minimum-results-for-search="Infinity" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="group-item element-fullwidth element-fullwidth-xs offset-top-6 offset-md-top-0 offset-lg-top-6">
                          <div class="form-group form-group-label-outside text-left">
                            <label for="deals-adults" class="form-label form-label-outside text-dark">Promo Code</label>
                            <input id="deals-adults" type="text" name="deals-adults" style="color:#393a3c;" class="form-control shadow-drop-md bg-white">
                          </div>
                        </div>
                        <div class="group-item element-fullwidth offset-top-6 offset-md-top-0 offset-lg-top-6">
                          <div class="form-group text-left">
                            <label for="discount-options" class="form-label form-label-outside">Discount Options</label>
                            <div class="select2-whitout-border shadow-drop-md">
                              <select id="discount-options" name="discount-options" data-minimum-results-for-search="Infinity" class="form-control">
                                <option value="1">Companion</option>
                                <option value="2">Other</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="group-item reveal-block reveal-md-inline-block text-center text-md-left offset-top-15">
                          <button type="button" class="btn btn-ripe-lemon shadow-drop-md">Search</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- Testimonials-->
                  <div class="offset-top-60">
                    <h5 class="text-bold">Testimonials</h5>
                  </div>
                  <div class="offset-top-6">
                    <div class="text-subline"></div>
                  </div>
                  <!-- Owl Carousel-->
                  <div data-items="1" data-loop="false" data-stage-padding="5" data-margin="10" data-nav="false" data-dots="true" class="owl-carousel owl-carousel-classic owl-dots-25 text-center text-md-left">
                    <div class="owl-item">
                      <!-- Classic Blockquote-->
                      <blockquote class="quote quote-classic offset-top-25">
                        <!-- Media-->
                        <div class="media">
                          <div class="media-left"><span class="icon icon-xs fa fa-quote-left text-primary"></span></div>
                          <div class="media-body">
                            <p class="h6 text-italic">
                              <q>I haven't ever booked any ticket before BusExpress, but the site looks great as if we are booking an air ticket. Great work! I will definitely book tickets from your company from now on!</q>
                            </p>
                            <div class="offset-top-10">
                              <div class="unit unit-middle unit-horizontal unit-spacing-xs">
                                <div class="unit-left"><img src="images/users/user-tyheresa-barrett-40x40.jpg" width="40" height="40" alt="" class="img-circle img-responsive center-block"></div>
                                <div class="unit-body">
                                  <p class="quote-author"><a href="team-member-profile.html" class="text-gray">Theresa Barrett</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <div class="owl-item">
                      <!-- Classic Blockquote-->
                      <blockquote class="quote quote-classic offset-top-25">
                        <!-- Media-->
                        <div class="media">
                          <div class="media-left"><span class="icon icon-xs fa fa-quote-left text-primary"></span></div>
                          <div class="media-body">
                            <p class="h6 text-italic">
                              <q>It’s a perfect service for booking bus tickets online! I got the number from a helpline at 2.00 pm & by 3.30 I got my tickets booked at 9.00pm, when others had no seats.</q>
                            </p>
                            <div class="offset-top-10">
                              <div class="unit unit-middle unit-horizontal unit-spacing-xs">
                                <div class="unit-left"><img src="images/users/user-roger-washington-40x40.jpg" width="40" height="40" alt="" class="img-circle img-responsive center-block"></div>
                                <div class="unit-body">
                                  <p class="quote-author"><a href="team-member-profile.html" class="text-gray">Roger Washington</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <div class="owl-item">
                      <!-- Classic Blockquote-->
                      <blockquote class="quote quote-classic offset-top-25">
                        <!-- Media-->
                        <div class="media">
                          <div class="media-left"><span class="icon icon-xs fa fa-quote-left text-primary"></span></div>
                          <div class="media-body">
                            <p class="h6 text-italic">
                              <q>Thank you very much for support. Keep going like this and I wish you people to be the No.1 Online Bus Ticket provider in our country. You are really doing a good job.</q>
                            </p>
                            <div class="offset-top-10">
                              <div class="unit unit-middle unit-horizontal unit-spacing-xs">
                                <div class="unit-left"><img src="images/users/user-jean-kennedy-40x40.jpg" width="40" height="40" alt="" class="img-circle img-responsive center-block"></div>
                                <div class="unit-body">
                                  <p class="quote-author"><a href="team-member-profile.html" class="text-gray">Jean Kennedy</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Footer Default-->
      <footer class="page-footer bg-chathams-blue">
        <section class="section-60">
          <div class="shell">
            <div class="range range-xs-center text-md-left">
              <div class="cell-xs-10 cell-sm-7 cell-md-4">
                <!-- Footer brand-->
                <div class="footer-brand"><a href="index.html"><img width='97' height='57' src='images/logo-light.png' alt=''/></a></div>
                <div class="offset-top-30 inset-sm-right-20">
                  <p class="text-silver">BusExpress is the leading go-to website for booking inter-city bus ticket online. Our booking system allows travelers to search and book bus tickets for over a hundred bus companies throughout the United States, Mexico, Canada and Europe.</p>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-7 cell-md-4 offset-top-60 offset-md-top-0">
                <div>
                  <h5 class="text-bold text-white">Contacts</h5>
                </div>
                <div class="offset-top-6">
                  <div class="text-subline bg-ripe-lemon"></div>
                </div>
                <div class="offset-top-20">
                  <!-- Contact Info-->
                  <address class="contact-info text-left">
                    <div>
                      <div class="reveal-inline-block"><a href="callto:#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-phone"></span></span><span class="unit-body"><span class="text-silver">1-800-1234-567</span></span></a></div>
                    </div>
                    <div class="offset-top-10">
                      <div class="reveal-inline-block"><a href="mailto:#" class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-email-outline"></span></span><span class="unit-body"><span class="text-silver">info@demolink.org</span></span></a></div>
                    </div>
                    <div class="offset-top-10">
                      <div class="reveal-inline-block"><a href="#" class="unit unit-horizontal unit-spacing-xs"><span class="unit-left"><span class="icon icon-xxs icon-primary icon-primary-filled icon-circle mdi mdi-map-marker"></span></span><span class="unit-body"><span class="text-silver">2130 Fulton Street San Diego, <br> CA 94117-1080 USA</span></span></a></div>
                    </div>
                  </address>
                </div>
                <div class="offset-top-20">
                  <!-- List Inline-->
                  <ul class="list-inline list-inline-2">
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-facebook"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-twitter"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-google-plus"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-instagram"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-gray-darker-filled icon-circle fa fa-rss"></a></li>
                  </ul>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-7 cell-md-4 offset-top-60 offset-md-top-0">
                <div>
                  <h5 class="text-bold text-white">Newsletter</h5>
                </div>
                <div class="offset-top-6">
                  <div class="text-subline bg-ripe-lemon"></div>
                </div>
                <div class="offset-top-25">
                  <p class="text-silver">Enter your email address to get the latest BusExpress news, special events and student activities delivered right to your inbox.</p>
                </div>
                <div class="offset-top-20">
                        <form data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform rd-mailform-subscribe">
                          <div class="form-group form-group-sm">
                            <div class="input-group">
                              <input placeholder="Your e-mail..." type="email" name="email" data-constraints="@Email @Required" class="form-control"><span class="input-group-btn">
                                <button type="submit" class="btn btn-xs btn-ripe-lemon">Subscribe</button></span>
                            </div>
                          </div>
                          <div id="form-subscribe-footer" class="form-output"></div>
                        </form>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-12 text-md-left">
          <div class="shell">
            <p class="font-accent"><span class="small text-silver-dark">&copy; <span id="copyright-year"></span> All Rights Reserved Terms of Use and <a href="privacy.html">Privacy Policy</a></span></p>
          </div>
        </section>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>